@import "../../styles/palette.scss";

.graph-info {
  &-wrapper {
    display: flex;
    margin-top: 100px;
  }

  &-image {
    height: 80px;
    width: 80px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-name {
    font-weight: 400;
    font-size: 35px;
    color: var(--accent-color);
  }

  &-short {
    font-weight: 500;
    color: var(--text-color-main);
    opacity: .7;
    font-size: 22px;
  }
}
