@import "@styles/variables.scss";

.welcome {
  min-height: 300px;
  padding: $s-6 0px $s-12 0px;
  position: relative;
  overflow: hidden;

  &-spray {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: rotate(30deg);
    width: 50%;
    box-shadow: 0px 0px 45em 15em $green;
    opacity: 0.2;
  }

  &-wrapper {
    display: flex;
    gap: $s-12;
    position: relative;

    &__left {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: $s-5;
    }
  }

  &__title {
    font-weight: $fw-600;
    font-size: $fs-7xl-6;
    text-align: right;
  }

  &__text {
    font-weight: $fw-300;
    font-size: $fs-m-5;
    line-height: 187%;
    text-align: center;
    color: $accent-color;
    max-width: 400px;
    position: relative;
    right: -$s-12;
  }

  &__img {
    min-width: 300px;
    height: auto;
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}

@media (max-width: $tablet) {
  .welcome {
    min-height: auto;
    &-wrapper {
      justify-content: center;
    }

    &__img {
      display: none;
    }

    &__title {
      text-align: center;
      font-size: $fs-5xl-0;
    }

    &__text {
      right: 0;
      margin: 0 auto;
    }
  }
}
