@import "../../styles/palette.scss";
@import "../../styles/variables.scss";

.welcome {
  min-height: 300px;
  padding: $s-6 0px $s-12 0px;
  position: relative;
  overflow: hidden;

  &-spray {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: rotate(30deg);
    width: 50%;
    box-shadow: 0px 0px 45em 15em $green;
    opacity: .2;
  }

  &-wrapper {
    display: flex;
    gap: $s-12;
    position: relative;
    // right: 8vw;

    &__left {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: $s-5;
    }
  }

  &-title {
    font-weight: 600;
    font-size: $fs-7xl-6;
    text-align: right;
  }

  &-text {
    font-weight: 300;
    font-size: $fs-m-5;
    line-height: 187%;
    text-align: center;
    color: var(--accent-color);
    max-width: 400px;
    position: relative;
    right: -$s-12;
  }

  &-img {
    min-width: 300px;
    height: auto;
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}
