@import "../../../styles/variables.scss";

.chart-filters {
  &-wrapper {
    display: flex;
    gap: $s-6;
  }
}

// INPUT DATE
input[type="date"] {
  background-color: var(--card-color);
  border: none;
  padding: 0 $s-3;
  border-radius: 3px;
  font-size: $fs-l-0;
  font-weight: 500;
}
