$green: #00ce2c;
$yellow: #a3dc00;
$main-text-gradient: linear-gradient(92deg, $green 0%, #aedf23 49.26%, $yellow 100%);

$slate-black: #000000;
$slate-dark: #030304;
$slate-blue: #1b2028;
$slate-gray-card: #202025;
$slate-gray-card-border: #474747;
$slate-gray-text: #898989;
$slate-gray-text-2: #a7b2c3;
$slate-light: #d9d9d9;
$slate-white: #ffffff;