html[data-theme="dark"] {
  color-scheme: dark;

  --background-color: #{$slate-black};
  transition: 0.25s all;
}

html[data-theme="light"] {
  // TODO: fix light theme flickers
  color-scheme: light;

  --background-color: #{$slate-gray-card};
  transition: 0.25s all;
}