html[data-theme="dark"] {
  transition: 0.25s all;
  color-scheme: dark;

  --gradient-color: #{$main-text-gradient};
  --background-color: #{$slate-dark};
  --text-color-main: #{$slate-white};
  --text-color-minor: #{$slate-gray-text};
  --text-color-minor-2: #{$slate-gray-text-2}; //

  --accent-color: #{$slate-light}; //
  --card-color: #{$slate-gray-card};
  --card-border-color: #{$slate-gray-card-border};
}

html[data-theme="light"] {
  transition: 0.25s all;
  color-scheme: light;

  --gradient-color: #{$green};
  --background-color: #{$slate-white};
  --text-color-main: #{$slate-black};
  --text-color-minor: #{$slate-gray-card-border};
  --text-color-minor-2: #{$slate-gray-text}; //

  --accent-color: #{$slate-gray-card-border}; // TODO: can be changed
  --card-color: #{$slate-light};
  --card-border-color: #{$slate-gray-card-border};
}
