@import "../../../styles/palette.scss";

.currency-group {
  max-width: 520px;

  &:not(.currency-group:first-of-type) {
    margin-top: 85px;
  }

  &-title {
    font-weight: 300;
    font-size: 32px;
    color: var(--text-color-main);
  }

  &-separator {
    margin-top: 25px;
    margin-bottom: 50px;
    height: 1px;
    border: 0;
    background-color: var(--card-border-color);
  }
}
