@import "@styles/variables.scss";

.currency-group {
  max-width: 520px;

  &:not(.currency-group:first-of-type) {
    margin-top: $s-17;
  }

  &-title {
    font-weight: $fw-300;
    font-size: $fs-l-2;
    color: var(--text-color-main);
  }

  &-separator {
    margin-top: $s-5;
    margin-bottom: $s-10;
    height: 1px;
    border: 0;
    background-color: var(--card-border-color);
  }
}
