@import "@styles/variables.scss";

.currency-group {
  max-width: 520px;

  &:not(.currency-group:first-of-type) {
    margin-top: $s-17;
  }

  &__title {
    font-weight: $fw-300;
    font-size: $fs-l-2;
    color: $text-color-main;
  }

  &__separator {
    margin-top: $s-5;
    margin-bottom: $s-10;
    height: 1px;
    border: 0;
    background-color: $card-border-color;
  }
}
