@import "../../styles/variables.scss";

.chart-info {
  &-wrapper {
    display: flex;
    margin-top: $s-20;
  }

  &-image {
    height: 80px;
    width: 80px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    margin-left: $s-6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-name {
    font-weight: $fw-400;
    font-size: $fs-l-5;
    color: var(--accent-color);
  }

  &-short {
    font-weight: $fw-500;
    color: var(--text-color-main);
    opacity: 0.7;
    font-size: $fs-m-2;
  }
}

.chart {
  padding: $s-5 0 $s-17 0;

  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: $s-6;
  }

  &-block:not(:first-child) {
    margin-top: $s-4;
  }

  &-button {
    color: var(--text-color-main);
    background: var(--card-color);
    border: none;
    padding: 0 $s-3;
    border-radius: 3px;
    font-size: $fs-l-0;
    font-weight: $fw-500;
    padding: calc($s-1 - 3px) $s-2;
    transition: 0.25s all;

    &:hover {
      cursor: pointer;
      color: var(--text-color-minor);
      transition: 0.25s all;
    }
  }

  &-button-group {
    display: flex;
    align-items: center;
    gap: $s-6;
  }
}

@media (max-width: $notebook) {
  .chart {
    &-block {
      text-align: center;
    }

    &-button-group {
      flex-direction: column;
      align-items: center;
      margin-top: $s-6;
    }

    &-block:not(:first-child) {
      margin-top: $s-6;
    }
  }
}
