@import "@styles/variables.scss";

.chart {
  padding: $s-5 0 $s-17 0;

  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: $s-6;
  }

  &-block:not(:first-child) {
    margin-top: $s-4;
  }

  &__button {
    color: $text-color-main;
    background: $card-color;
    border: none;
    padding: 0 $s-3;
    border-radius: calc($s-1 - 2px);
    font-size: $fs-l-0;
    font-weight: $fw-500;
    padding: calc($s-1 - 3px) $s-2;
    transition: 0.25s all;

    &-group {
      display: flex;
      align-items: center;
      gap: $s-6;
    }

    &:hover {
      cursor: pointer;
      color: $text-color-minor;
      transition: 0.25s all;
    }
  }
}

@media (max-width: $notebook) {
  .chart {
    &-block {
      text-align: center;
      
      &:not(:first-child) {
        margin-top: $s-6;
      }
    }

    &__button-group {
      flex-direction: column;
      align-items: center;
      margin-top: $s-6;
    }
  }
}
