@import "@styles/variables.scss";

.bank-map {
  padding: $s-5 0 $s-16 0;
  position: relative;
}

.map-container {
  height: 460px;
}

.mapboxgl-marker {
  cursor: pointer;
}

.mapboxgl-popup {
  .mapboxgl-popup-content {
    color: $slate-dark;
    padding: $s-4 $s-4 $s-3;
  }

  .mapboxgl-popup-name {
    color: $slate-black;
    
    font-size: $fs-m-4;
    font-weight: $fw-600;
  }

  .mapboxgl-popup-address {
    margin-top: $s-2;
    font-size: $fs-m-0;
    font-weight: $fw-400;
    color: $slate-gray-card-border;
  }

  .mapboxgl-popup-currencies {
    margin-top: $s-2;
    font-size: $fs-m-0;
    font-weight: $fw-400;
  }

  .mapboxgl-popup-close-button {
    font-size: $fs-m-4;
    color: $slate-black;
    outline: none;
  }
}

@media (max-width: $tablet) {
  .bank-map {
    padding-bottom: $s-10;
  }
}
