@import "../../styles/palette.scss";
@import '../../styles/variables.scss';

.header {
  min-height: 50px;
  padding: $s-5 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-link {
    display: inline-block;
    height: 40px;
    width: auto;

    img {
      height: 100%;
      width: auto;
      vertical-align: middle;
    }

    &-active {
      background: var(--gradient-color);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  &-nav {
    flex-grow: 0.3;

    ul {
      display: flex;
      justify-content: space-between;
    }

    a {
      text-decoration: none;
      color: var(--text-color-main);
      font-weight: 300;
      font-size: 20px;
      transition: 0.4s;

      &:hover {
        color: var(--text-color-minor);
        transition: 0.4s;
      }
    }
  }
}
