@import "@styles/variables.scss";

.header {
  min-height: $s-10;
  padding: $s-5 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: inline-block;
    height: $s-8;
    width: auto;

    img {
      height: 100%;
      width: auto;
      vertical-align: middle;
    }

    &-active {
      background: $gradient-color;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  &-nav {
    ul {
      display: flex;
      justify-content: space-between;
    }

    a {
      text-decoration: none;
      color: $text-color-main;
      font-weight: $fw-300;
      font-size: $fs-m-0;
      transition: 0.4s;

      &:hover {
        color: $text-color-minor;
        transition: 0.4s;
      }
    }

    &-desktop {
      flex-grow: 0.3;
    }

    &-mobile {
      display: none;
    }

    &_vertical {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $s-6;
      }
    }
  }

  &-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: $s-6;
    height: $s-6;
    cursor: pointer;

    &__line {
      width: 100%;
      height: calc($s-1 - 2px);
      background-color: $text-color-main;
    }
  }
}

@media (max-width: $tablet) {
  .header {
    &-nav {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
      }
    }
  }
}
