@import "../../styles/variables.scss";

.update-status {
  padding: $s-11 0;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $s-5;
  }

  &-lamp {
    position: relative;
    min-width: 20px;
    height: 20px;
    background-color: #00bc4fbf;
    border-radius: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 20px;
      height: 20px;
      border: 10px solid #00bc4f50;
      border-radius: 100%;
    }
  }

  &-text {
    font-weight: 300;
    font-size: $fs-l-2;
    text-align: center;
  }
}

@media (max-width: $phone) {
  .update-status {
    &-text {
      font-size: $fs-m-4;
    }
  }
}
