@import "@styles/variables.scss";

.update-status {
  padding: $s-11 0;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $s-5;
  }

  &__lamp {
    position: relative;
    min-width: $s-4;
    height: $s-4;
    background-color: #00bc4fbf;
    border-radius: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: $s-4;
      height: $s-4;
      border: $s-2 solid #00bc4f50;
      border-radius: 100%;
    }
  }

  &__text {
    font-weight: $fw-300;
    font-size: $fs-l-2;
    text-align: center;
  }
}

@media (max-width: $phone) {
  .update-status {
    &__text {
      font-size: $fs-m-4;
    }
  }
}
