@import "../../../styles/palette.scss";

.graph-filters {
  &-wrapper {
    display: flex;
    gap: 30px;
  }
}

// SELECT
.ui-select {
  appearance: none;
  outline: none;
  background: transparent;
  border: none;
  line-height: inherit;
  font-size: inherit;
  padding: 0 15px;
  font-size: 30px;
  font-weight: 500;
}

.ui-select-base {
  display: inline-block;
  height: 44px;
  min-width: 250px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 44px;

  select {
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: $slate-gray-card;
  }
}

.ui-select-basic {
  select {
    cursor: pointer;
    transition: all 0.25s ease;
  }
}

.ui-select-extended-icon {
  /* <span> */
  overflow: hidden;
  position: relative;
  background-color: $slate-gray-card;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(#000, 0.22);
  transition: all 0.25s ease;
  &:after {
    content: "⮟";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; // a key to the puzzle
    width: 44px;
    font-size: inherit; // get this from the span
    line-height: inherit; // also get this from the span
    text-align: center;
    background-color: inherit;
    pointer-events: none; // major key to the puzzle
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  select {
    width: 100%;
    color: inherit;
    cursor: pointer; // this now applies to the entire wrapped element.
  }
}

// INPUT DATE
input[type="date"] {
  background-color: $slate-gray-card;
  border: none;
  padding: 0 15px;
  border-radius: 3px;
}
