@import "../../../styles/palette.scss";

.graph-filters {
  &-wrapper {
    display: flex;
    gap: 30px;
  }
}

// INPUT DATE
input[type="date"] {
  background-color: $slate-gray-card;
  border: none;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 30px;
  font-weight: 500;
}
