@import "../../styles/palette.scss";

.bank-search {
  text-align: center;
  padding: 55px 0;

  &-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 38px;
    color: #fff;
    margin-bottom: 24px;
  }

  &-wrapper {
    position: relative;
  }

  &-input {
    border-radius: 8px;
    border: none;
    padding: 20px;
    min-width: 450px;
    background-color: $slate-blue;
  }

  &-icon {
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
