@import "../../styles/variables.scss";

.footer {
  &-img {
    height: auto;
    width: 40px;
    display: inline-block;

    img {
      height: auto;
      width: 100%;
    }
  }

  &-logo-wrapper {
    display: flex;
    align-items: center;
    gap: calc($s-4 - 3px);
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    gap: $s-20;

    &-left {
      flex-basis: 482px;
    }

    &-right {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      gap: $s-8;
    }
  }

  &-description {
    margin-top: calc($s-4 - 2px);
    font-weight: 300;
    font-size: $fs-m-4;
    line-height: 150%;
    color: var(--text-color-main);
  }

  &-nav {
    &-title {
      font-weight: 400;
      font-size: $fs-m-8;
      color: var(--text-color-main);
    }

    &-list {
      margin-top: $s-8;

      &-item {
        font-size: $fs-m-4;

        &:not(:first-of-type) {
          margin-top: calc($s-6 - 2px);
        }
      }
    }
  }

  &-link {
    text-decoration: none;
    color: $slate-gray-text;
    transition: 0.4s;

    &:hover {
      color: var(--gradient-color);
    }
  }

  &-copyright {
    font-weight: 400;
    font-size: $fs-m-4;
    color: $slate-gray-text;
    text-align: center;
    padding: $s-11 0 $s-8 0;
  }
}
