@import "@styles/variables.scss";

.bank-search {
  text-align: center;
  padding: $s-11 0;

  &-title {
    font-weight: $fw-400;
    font-size: $fs-l-8;
    color: $text-color-main;
    margin-bottom: calc($s-5 - 1px);
  }

  &-wrapper {
    position: relative;
  }

  &-input {
    border-radius: 8px;
    border: none;
    padding: $s-4;
    min-width: 450px;
    background-color: $card-blue-color;

    &::placeholder {
      color: $text-color-minor;
      font-size: $fs-s-8;

      font-size: $fs-s-8;
    }
  }

  &-icon {
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: $tablet) {
  .bank-search {
    padding: $s-5 0;
    &-title {
        font-size: $fs-m-5  ;
    }

    &-input {
      min-width: calc(100% - $s-8);
      max-width: 100%;
    }
  }
}
