@import "../../../styles/palette.scss";
@import "../../../styles/variables.scss";
.bank-search {
  text-align: center;
  padding: $s-11 0;

  &-title {
    font-weight: 400;
    font-size: 38px;
    color: var(--text-color-main);
    margin-bottom: calc($s-5 - 1px);
  }

  &-wrapper {
    position: relative;
  }

  &-input {
    border-radius: 8px;
    border: none;
    padding: $s-4;
    min-width: 450px;
    background-color: var(--card-blue-color);

    &::placeholder {
      color: var(--text-color-minor);
      font-size: 18px;
    }
  }

  &-icon {
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
