.contacts {
  padding-bottom: 100px;
  text-align: center;

  &-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px auto 0 auto;

    &-item {
      flex: 1 1 0px;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 32px;
  }

  &-subtitle {
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
  }

  &-info {
    font-style: normal;
    display: block;
    margin-top: 10px;
    color: var(--text-color-minor);
    font-size: 20px;
  }
}
