@import "../../styles/variables.scss";

.contacts {
  padding-bottom: $s-20;
  text-align: center;

  &-wrapper {
    display: flex;
    justify-content: center;
    gap: $s-6;
    margin: $s-6 auto 0 auto;

    &-item {
      flex: 1 1 0px;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 32px;
  }

  &-subtitle {
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
  }

  &-info {
    font-style: normal;
    display: block;
    margin-top: $s-2;
    color: var(--text-color-minor);
    font-size: $fs-m-0;
  }
}
